<div id="mobile-nav-bar">
  <ul>
    <li><%= link_to "Hotels", "#hotels-section" %></li>
    <li><%= link_to "Travel", "#travel-section" %></li>
    <li><%= link_to "Weekend Events", "#weekend-events-section" %></li>
    <li><%= link_to "RSVP", rsvp_path %></li>
    <li><%= link_to "Registry", registry_path %></li>
</div>
