<div id="desktop-nav-bar">
  <ul>
    <li><%= link_to "RSVP", rsvp_path %></li>
    <li><%= link_to "Weekend Events", "#weekend-events-section" %></li>
    <li><%= link_to "Best of Boston", "#best-of-boston-section" %></li>
    <li><%= link_to "Accommodations", "#hotels-section" %></li>
    <li><%= link_to "Travel", "#travel-section" %></li>
    <li><%= link_to "Registry", registry_path %></li>
  </ul>
</div>
<div class="hash">
  <span class="hashtag">#<span class="f-letter">L</span>ETS<span class="f-letter">G</span>OGH<span class="f-letter">G</span>ET<span class="f-letter">M</span>ARRIED</span>
</div>
