<div id="desktop-version">
  <%= render "nav_bar" %>
  <a name="beach"><%= render "beach_hero" %></a>
  <a name="mfa"><%= render "mfa_hero" %></a>
  <a name="boston"><%= render "boston_hero" %></a>
  <a name="liberty"><%= render "liberty" %></a>
  <%= render "footer" %>
</div>

<div id="mobile-version">
  MOBILE!
</div>
